[submodule "grafoavis"]
	path = grafoavis
	url = https://github.com/JonAnderAsua/grafoavis
[submodule "ScriptGoogleImagesDownloader"]
	path = ScriptGoogleImagesDownloader
	url = https://github.com/JonAnderAsua/ScriptGoogleImagesDownloader
