# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
# *.zip # para graphdb
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/
data/ladonacion.es/graphLaDonacion.nt
graphSource/__pycache__/
graphSource/tests/__pycache__/
procesSource/__pycache__/